<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid mt-5 w-25">
        <div class="container">
        {{#if title}}
        <h1>{{title}}</h1>
        {{/if}}

        <table>
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>level</th>
            </tr>
        </thead>
        <tbody>
            {{#each skillset}}
            <tr>
                <th scope="rows">{{@key}}</th>
                    <td>{{this.title}}</td>
                    <td>{{this.level}}</td>
            </tr>
            {{/each}}
        </tbody>
        </table>
</body>
</html>